header.header
	div.container
		div.cf
			p.wel-message Welcome to My WebStore!
			ul.topLink.cf
				li
					a(href='#') About us
				li
					a(href='#') Contact us
				if login == true
					li
						a(href="#")= user.userName
					li
						a.logOut(href="#") Sign Out
				else
					li
						a.logIn(href="#") Sign In
						include logInForm
		h1.logo
			a(href='#') #{title}
		include searchForm
	nav#mainNav
		ul.container.cf.nav
			li
				a(href='#') Home
			li
				a(href='#') Men
			li
				a(href='#') Wowen
			li
				a(href='#') Kids