header.header
	div.container
		div.cf
			p.wel-message Welcome to My WebStore!
			ul.topLink.cf
				if logflag == true
					li
						a(href="#")= user.username
					li
						a(href="/setting") Setting
					li
						a.logOut(href="/signout") Sign Out
				else
					li
						a.logIn(href="#") Sign In
						include logInForm
		h1.logo
			a(href='#') #{title}
		include searchForm
	nav#mainNav
		ul.container.cf.nav
			li
				a(href='#') Home
			li
				a(href='#') Men
			li
				a(href='#') Wowen
			li
				a(href='#') Kids