form(id="logInForm", method="post", action="/")
	label(for="username") Username:
	input(id="username", type="text", name="username", placeholder="Username or Email")
	label(for="password") Password:
		a.forgetPassword(href="#") (forgot password)
	input(id="password", type="password", name="password", placeholder="Number and letter")
	button(type="submit") Log In
	a.newAccount(href="/signup") Create a new account