form(id="logInForm", method="post", action="/logoIn")
	label(for="userName") UserName:
	input(id="userName", type="text", placeholder="UserName or Email")
	label(for="password") Password:
		a.forgetPassword(href="#") (forgot password)
	input(id="password", type="password", placeholder="Number and letter")
	button(type="submit") Log In
	a.newAccount(href="/signup") Create a new account