extends layout

block content
	include module/header
	main.main
		div.container
			h1= title
			div.accouts
				table
					thead
						tr
							th userName
							th emailAddress
					tbody
						each val, idx in accts
							tr
								td= val.username
								td= val.emailAddress
	include module/footer
	include module/script