extends layout

block content
	include module/header
	main.main
		div.container
			form#createAcFm(method="post", action="/signin")
				h2= title
				label(for="username") Username
				input#username(type="text", name="username")
				label(for="password") Password
				input#password(type="password", name="password")
				button(type="submit") Sign In
	include module/footer
	include module/script