extends layout

block content
	include module/header
	main.main
		div.container
			h1 Join Rainbow
			form#createAcFm(method="post", action="/signup")
				h2 Create your personal account
				label(for="username") Username
				input#usernameSignUp(type="text", name="username")
				p Should lt 17 and gt 2, include letter or number 
				label(for="email") Email Address
				input#emailSignUp(type="email", name="email")
				p Should be email, form should be right
				label(for="password") Password
				input#passwordSignUp(type="password", name="password")
				p Should lt 13 and gt 7, include letter or number
				label(for="cmPassword") Confirm your password
				input#cmPasswordSignUp(type="password", name="cmPassword")
				p Should equal the password above
				button#buttonSignUp(type="submit") Create an account
	include module/footer
	include module/script