extends layout

block content
	include module/header
	main.main
		div.container
			h1= title
			div.user
				dl
					dt= user.username
					dd= user.emailAddress
	include module/footer
	include module/script