
border-radius()
	-webkit-border-radius arguments
	border-radius arguments
box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments
transition()
	-webkit-transition arguments
	transition arguments