.footer
	background-color rgb(80,80,80)
.footLink
	padding 10px 0
	& > li
		padding 5px 0
		& > a
			color rgb(245,245,245)
			transition(all 300ms ease 0s)
			&:hover
				color rgb(150,150,150)
				transition(all 300ms ease 0s)