@import './searchForm'
@import './logInForm'
.header
	& > .container
		position relative
.wel-message
	float left
	margin 5px 0
	font-size 15px
	color rgb(200,100,50)
.topLink
	float right
	margin-top 5px
	& > li
		float left
		margin-left 15px
		& > a
			color rgb(130,130,130)
			transition(all 300ms ease 0s)
			&:hover
				color rgb(40,100,200)
				transition(all 300ms ease 0s)
#mainNav
	background-color rgb(30,30,30)
.nav
	& > li
		float left
		& > a
			display block
			padding 10px 15px
			font-size 18px
			color rgb(255,255,255)
			transition(all 300ms ease 0s)
			&:hover
				background-color rgb(200,100,50)
				transition(all 300ms ease 0s)
